[Unit]
Description=Linux zramswap setup
Documentation=man:zramswap(8)

[Service]
EnvironmentFile=-/etc/default/zramswap

ExecStartPre=/sbin/modprobe zram
ExecStart=/usr/bin/sh -c "/sbin/zramctl --find --size 8192M && /sbin/mkswap /dev/zram0 && /sbin/swapon /dev/zram0"
ExecStop=/usr/bin/sh -c "/sbin/swapoff /dev/zram0 && /sbin/modprobe -r zram"
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
