# BASIC ALIASES
function ssh() {
    SESSION=$(hostname)
    /usr/bin/ssh -t $@ "tmux new-session -A -s $SESSION > /dev/null 2>&1 || eval $SHELL"
}
alias :q="exit"
alias :wq="exit"
alias :qa="exit"
alias :wqa="exit"
alias rsyncthingD='pushd ~/Syncthing; rsync -av --delete --progress -e "ssh -J thinkpad-w540.lan" root@fileserver.lan:/usr/local/mnt/Vault/Syncthing/ ~/Syncthing/; popd'
alias rsyncthingS='pushd ~/Syncthing; rsync -av --delete --progress -e "ssh -J thinkpad-w540.lan" --exclude=".stversions" ~/Syncthing/ root@fileserver.lan:/usr/local/mnt/Vault/Syncthing/; popd'
alias firefoxSync='find ~/.mozilla/ -iname "*cache*" | xargs rm -rf; pushd ~ ; tar cfv - ./.mozilla | xz -4e > ~/Syncthing/Browsers/Firefox/profile.tar.xz; popd'
alias firefoxSyncRestore='rm -rf ~/.mozilla; xz -dc  ~/Syncthing/Browsers/Firefox/profile.tar.xz | tar x -C ~/'
alias thunderSync='find ~/.thunderbird/ -iname "*cache*" | xargs rm -rf; pushd ~ ; tar cfv - --exclude=.thunderbird/*-default/ImapMail --exclude=.thunderbird/*-default/ExQuilla .thunderbird/ | xz -4e > ~/Syncthing/Browsers/Firefox/thunderbird-profile.tar.xz; popd'
alias thunderSyncRestore='rm -rf ~/.thunderbird; xz -dc  ~/Syncthing/Browsers/Firefox/thunderbird-profile.tar.xz | tar x -C ~/'
alias grep='grep --color=auto'
alias ll='ls -Ahl --group-directories-first --color'
alias tree='tree -C'
alias top='top -o %CPU'
alias open='xdg-open'
alias gcc='gcc -Wall -Wextra -lm'
alias whois="whois -h whois-servers.net"
alias vi='vimx -u ~/dotfiles/.vimrc-minimal'
alias vim='vimx'
alias diff="diff --color=always"
alias reset_ssh='assh sockets flush; killall ssh; killall stunnel'
export PATH=$HOME/bin:$PATH
export GOPATH=$HOME/.local/go
export PATH=$PATH:$GOPATH/bin
export PATH=$HOME/.local/bin:$PATH
export RUSTUP_HOME=$HOME/.local/rust
export CARGO_HOME=$HOME/.local/rust
