# BASIC ALIASES
function ssh() {
    /usr/bin/ssh -t $@ 'tmux > /dev/null 2>&1 || eval $SHELL'
}
alias grep='grep --color=auto'
alias ll='ls -Ahl --group-directories-first --color'
alias tree='tree -C'
alias top='top -o %CPU'
alias open='xdg-open'
alias gcc='gcc -Wall -Wextra -lm'
alias whois="whois -h whois-servers.net"
alias vi='vimx -u ~/dotfiles/.vimrc-minimal'
alias vim='vimx'
alias diff="diff --color=always"
alias reset_ssh='assh sockets flush; killall ssh; killall stunnel; killall goa-daemon'
export PATH=$HOME/bin:$PATH
export GOPATH=$HOME/.local/go
export PATH=$PATH:$GOPATH/bin
export PATH=$HOME/.local/bin:$PATH
export RUSTUP_HOME=$HOME/.local/rust
export CARGO_HOME=$HOME/.local/rust
