[/]
next='<Super>3'
play='<Super>2'
screenshot='<Super>Print'
email='Explorer'
www='HomePage'
search='<Shift><Super>a'
home='<Super>e'
custom-keybindings=['/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom4/', '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/', '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom3/']
previous='<Super>1'

[custom-keybindings/custom4]
binding='<Super>k'
command='/home/luca-linux/bin/mpv_play'
name='MINITUBE'

[custom-keybindings/custom0]
binding='<Primary><Alt>t'
command='terminator'
name='Terminal'

[custom-keybindings/custom3]
binding='<Super>w'
command='xdg-open https://'
name='Browser'
