# BASIC ALIASES
alias cp='cp --reflink=auto'
alias docker-distrobox="DBX_CONTAINER_MANAGER=docker distrobox"
alias ll='ls -Ahl --group-directories-first --color'
alias open='xdg-open'
alias rsyncthingD='cd ~/Syncthing && find ~/Syncthing/ -iname "*.tmp" -o -iname "*conflict*" | xargs rm -f && rsync --usermap=$(id -ru):1000 --groupmap=$(id -rg):1000 --archive --verbose --inplace --no-compress --progress --partial --delete -e "ssh -J jump" --exclude={.stversions,*.tmp}  root@raspberrypi-1:/usr/local/mnt/Vault/Syncthing/ ~/Syncthing/ && cd -'
alias rsyncthingS='cd ~/Syncthing && find ~/Syncthing/ -iname "*.tmp" -o -iname "*conflict*" | xargs rm -f && rsync --usermap=$(id -ru):1000 --groupmap=$(id -rg):1000 --archive --verbose --inplace --no-compress --progress --partial --delete -e "ssh -J jump" --exclude={.stversions,*.tmp}  ~/Syncthing/ root@raspberrypi-1:/usr/local/mnt/Vault/Syncthing/ && rsync --usermap=$(id -ru):1000 --groupmap=$(id -rg):1000 --archive --verbose --inplace --no-compress --progress --partial --delete -e "ssh -J jump" --exclude={.stversions,*.tmp}  ~/Syncthing/ root@raspberrypi-2:/usr/local/mnt/Vault/Syncthing/ && cd -'
alias tree='tree -I ".git" -a'
alias htop='top -o%CPU'
alias vi='vim -u ~/.vimrc-minimal'
alias git='DBUS_SESSION_BUS_ADDRESS=unix:path=/run/host/run/user/$(id -ru)/bus git'
alias batinfo="upower -e | grep BAT | xargs -I{} upower -i {}"
if [ -z $CONTAINER_ID ]; then
	alias vim='vim -u ~/.vimrc-minimal'
fi
export CARGO_HOME=$HOME/.local/rust
export GOPATH=$HOME/.local/share/go
export GOTMPDIR=$HOME/.cache/go-build
export GPG_TTY=$(tty)
export LANG="en_US.UTF-8"
export LC_CTYPE="en_US.UTF-8"
export PATH=$HOME/.local/bin:$PATH
export PATH=$HOME/.local/share/flatpak/exports/bin:$PATH
export PATH=$HOME/bin:$PATH
export PATH=/var/lib/flatpak/exports/bin:$PATH
export RUSTUP_HOME=$HOME/.local/rust
export RUST_SRC_PATH="$RUSTUP_HOME/toolchains/stable-x86_64-unknown-linux-gnu/lib/rustlib/src/rust/src"
export TMUX_TMPDIR=/var/tmp
