[user]
	email = luca.dimaio1@gmail.com
	name = Luca Di Maio
	signingkey = luca.dimaio1@gmail.com
[core]
	askpass = ""
[tig]
	main-view-date-display = relative-compact
	main-view-author-display = abbreviated
	main-view-id-display = yes
[commit]
	gpgsign = true
[credential]
	helper = /home/luca-linux/.local/bin/git-credential-libsecret
	credentialStore = secretservice
[fetch]
	prune = true

[includeif "gitdir:~/Projects/chainguard/"]
	path = ~/.gitconfig-gitsign
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
