[user]
	email = luca.dimaio1@gmail.com
	name = Luca Di Maio
	signingkey = luca.dimaio1@gmail.com
[core]
	askpass = ""
[tig]
	main-view-date-display = relative-compact
	main-view-author-display = abbreviated
	main-view-id-display = yes
[commit]
	gpgsign = true
[credential]
	helper = /home/luca-linux/.local/bin/git-credential-libsecret
	credentialStore = secretservice
[fetch]
	prune = true

[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = luca.dimaio1@gmail.com
	smtpServerPort = 587

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

# [includeif "gitdir:~/Projects/chainguard/"]
# 	path = ~/.gitconfig-gitsign
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
