[user]
	email = luca.dimaio1@gmail.com
	name = Luca Di Maio
	signingkey = luca.dimaio1@gmail.com
[core]
	askpass = ""
[tig]
  main-view-date-display = relative-compact
  main-view-author-display = abbreviated
  main-view-id-display = yes
[commit]
	gpgsign = true
[credential]
	helper = /home/luca-linux/.local/bin/git-credential-libsecret
[fetch]
	prune = true
