[Desktop Entry]
Name=indicator-syncthing
Comment=A Syncthing status menu for Unity and other desktops that support AppIndicator.
Exec=/bin/bash -c "sleep 20; indicator-syncthing"
Icon=/home/luca-linux/.local/share/applications/syncthing.svg
Terminal=false
Type=Application
Categories=Utility;
