[Desktop Entry]
Name=touchegg gestures
GenericName=gestures
Comment=touchegg start
Exec=systemctl --user start touchegg-user
Icon=settings
StartupNotify=true
Terminal=false
Type=Application
Hidden=true
X-Desktop-File-Install-Version=0.26
