[Desktop Entry]
Name=Typora
GenericName=Markdown Editor
Categories=GTK;Utility;
Exec=/home/luca-linux/Programs/Typora-linux-x64/Typora %u
Icon=/home/luca-linux/Programs/Typora-linux-x64/resources/app/asserts/icon/icon_256x256.png
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=marker
Keywords=marker;markdown;editor;web;
MimeType=text/x-markdown;
