[user]
	email = luca.dimaio1@gmail.com
	name = 89luca89
[credential]
	helper = libsecret
[core]
	askpass = ""
[tig]
  main-view-date-display = relative-compact
  #main-view-commit-title-graph = v1
  main-view-author-display = abbreviated
  main-view-id-display = yes
