[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=indicator-syncthing
Comment=indicator-syncthing
Exec=/bin/bash -c "sleep 20; indicator-syncthing"
StartupNotify=false
Terminal=false
Hidden=false
