[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=switch
Comment=switch
Exec=/home/luca-linux/.config/xfce4/switch
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
