[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=xbindkeys
Comment=xbindkeys
Exec=xbindkeys -p
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
