gnome-background() {
	gsettings set org.gnome.desktop.background primary-color "$1"
	gsettings set org.gnome.desktop.background secondary-color "$1"
	gsettings set org.gnome.desktop.background color-shading-type 'solid'
	gsettings set org.gnome.desktop.background picture-options 'none'
	gsettings set org.gnome.desktop.background picture-uri '""'
}
update-all() {
	sudo fwupdmgr refresh --force
	sudo dnf update --refresh
	flatpak update
	flatpak --unused uninstall
	vim +PlugUpdate +PlugInstall! +qall
}
update-grub() {
	CONFS=$(sudo find /boot -name "grub.cfg")
	for conf in $CONFS; do
		echo "$conf"
		sudo grub2-mkconfig -o "$conf"
	done
	sudo dracut --force --regenerate-all -v
	sync
}
rclone_clear_mount() {
	mkdir -p "$2"
	rclone mount Local-Crypt:"$1" "$2"
}
ssh() {
	/usr/bin/ssh -t $@ "if which tmux &> /dev/null; then (tmux attach || tmux new); else \$SHELL; fi"
}
# BASIC ALIASES
alias  cp='cp --reflink=auto'
alias firefoxRestore="cat ~/Syncthing/Notes/open_tabs.md | cut -d ']' -f2  | sed 's/(//g' | sed 's/)//g' | xargs firefox --new-tab &"
alias firefoxSync='~/bin/get_firefox_tabs.py > ~/Syncthing/Notes/open_tabs.md'
alias git-clean="git fetch -p && for branch in \$(git branch -vv | grep ': gone]' | awk '{print \$1}'); do git branch -D \"\${branch}\"; done"
alias gnome-reload='DISPLAY=:0 xdotool key Alt+F2; sleep 1; DISPLAY=:0 xdotool key r;DISPLAY=:0  xdotool key Return'
alias gogetsys="export GOPATH=~/.local/go; go get"
alias ll='ls -Ahl --group-directories-first --color'
alias open='xdg-open'
alias rsyncProjecs='rsync -avHP --delete  -e "ssh -J tunnel" $HOME/Projects/ root@raspberrypi-1.lan:/usr/local/mnt/Vault/Projects/'
alias rsyncthingD='cd ~/Syncthing && find ~/Syncthing/ -iname "*.tmp" -o -iname "*conflict*" | xargs rm -f && rsync -av --delete --progress -e "ssh -J management -p 2223" --exclude={.stversions,*.tmp} fileserver@raspberrypi-1.lan:/data/Syncthing/ ~/Syncthing/ && cd -'
alias rsyncthingS='cd ~/Syncthing && find ~/Syncthing/ -iname "*.tmp" -o -iname "*conflict*" | xargs rm -f && rsync -av --delete --progress -e "ssh -J management -p 2223" --exclude={.stversions,*.tmp} ~/Syncthing/ fileserver@raspberrypi-1.lan:/data/Syncthing/ && cd -'
alias saml2aws='saml2aws --disable-keychain'
alias top='top -o %CPU'
alias vi='vim -u ~/.vimrc-minimal'
export LESSHISTFILE=-
export EDITOR=vim
export CARGO_HOME=$HOME/.local/rust
export RUSTUP_HOME=$HOME/.local/rust
export RUST_SRC_PATH="$RUSTUP_HOME/toolchains/stable-x86_64-unknown-linux-gnu/lib/rustlib/src/rust/src"
export GOPATH=$HOME/Projects/goprojects
export PATH=$HOME/.local/bin/node_modules/.bin:$PATH
export PATH=$HOME/.local/bin:$PATH
export PATH=$HOME/.local/go/bin:$PATH
export PATH=$HOME/bin:$PATH
export PATH=$PATH:$GOPATH/bin
export PATH=$PATH:$RUSTUP_HOME/bin
export PATH=/bin:$PATH
export XDG_DESKTOP_DIR="$HOME/Desktop"
export XDG_DOCUMENTS_DIR="$HOME/Documents"
export XDG_DOWNLOAD_DIR="$HOME/Downloads"
export XDG_MUSIC_DIR="$HOME/Music"
export XDG_PICTURES_DIR="$HOME/Pictures"
export XDG_PUBLICSHARE_DIR="$HOME/Public"
export XDG_TEMPLATES_DIR="$HOME/Templates"
export XDG_VIDEOS_DIR="$HOME/Videos"
