[Unit]
Description=Picom
PartOf=graphical-session.target

[Service]
ExecStart=/bin/picom -C -f --experimental-backends --backend glx --blur-background --vsync --detect-client-opacity --no-fading-openclose
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID
# Try to restart no matter how the process ended
Restart=always
# Restart in 5 second intervals
RestartSec=5
# Try to restart up to 3 times
StartLimitBurst=3

[Install]
# WantedBy=default.target
WantedBy=xsession.target
