[Unit]
Description=Claws-Mail

[Service]
Type=simple
ExecStart=/home/luca-linux/.local/bin/indicator-syncthing
Restart=always

[Install]
WantedBy=multi-user.target
