[Unit]
Description=distrobox-upgrade Automatic Update

[Service]
Type=simple
ExecStart=/home/luca-linux/.local/bin/distrobox-upgrade main_distrobox
StandardOutput=null
