<?xml version="1.0"?>
<openbox_menu>
  <menu id="root-menu" label="labwc">
    <item label="Terminal">
      <action name="Execute" command="foot" />
    </item>
    <item label="Launcher">
      <action name="Execute" command="fuzzel" />
    </item>
    <item label="Dev container (distrobox + tmux)">
      <action name="Execute" command="foot distrobox enter default_distrobox -- bash -l -c 'tmux a || tmux'" />
    </item>
    <item label="Utilities…">
      <action name="Execute" command="util-menu" />
    </item>
    <item label="Power…">
      <action name="Execute" command="power-menu" />
    </item>
    <separator />
    <item label="Reconfigure">
      <action name="Reconfigure" />
    </item>
    <item label="Exit">
      <action name="Exit" />
    </item>
  </menu>
</openbox_menu>
