[Unit]
Description=Syncthing - Open Source Continuous File Synchronization
Documentation=man:syncthing(1)
After=network.target

[Service]
ExecStart=/usr/local/bin/toolbox_enter --name fedora-toolbox -e  /usr/bin/syncthing -no-browser -no-restart -logflags=0
Restart=always

[Install]
WantedBy=default.target
