[Desktop Entry]
Type=Application
Name=Audio (wiremix)
GenericName=Audio Manager
Comment=Configure Audio with wiremix
Exec=foot --app-id=wiremix --title=Audio wiremix --tab output
Icon=audio-headset
Terminal=false
Categories=Audio;Settings;System;
Keywords=audio;speakier;wiremix;
StartupNotify=false
