{
    "window.openFoldersInNewWindow": "on",
    "window.restoreWindows": "all",
    "window.titleBarStyle": "custom",
    "python.pythonPath": "/usr/bin/python3",
    "python.linting.enabled": true,
    "python.linting.pylintEnabled": true,
    "python.formatting.provider": "yapf",
    "editor.rulers": [
        80
    ],
    "workbench.activityBar.visible": false,
    "workbench.editor.enablePreview": false,
    "editor.minimap.enabled": false,
    "editor.mouseWheelScrollSensitivity": 2,
    "editor.cursorBlinking": "solid",
    "editor.cursorStyle": "line-thin",
    "workbench.colorCustomizations": {
        "[Default Dark+]": {
            "sideBar.background": "#101010",
            "editor.background": "#101010"
        }
    },
    "telemetry.enableCrashReporter": false,
    "telemetry.enableTelemetry": false,
    "workbench.iconTheme": "material-icon-theme",
    "workbench.editor.highlightModifiedTabs": true,
    "zenMode.hideTabs": false,
    "terminal.integrated.shell.linux": "tmux",
    "window.zoomLevel": 0
}
