[Desktop Entry]
Name=Telegram
Comment=A terminal chat profile
Exec=/home/luca-linux/bin/communication
Icon=/home/luca-linux/.local/share/applications/chat-bubbles-icon.png
MiniIcon=/home/luca-linux/.local/share/applications/chat-bubbles-icon.png
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
StartupWMClass=Chats
