[Desktop Entry]
Name=WeeChat
GenericName=Chat client
Comment=Extensible chat client
Keywords=WeeChat;extensible;chat;IRC;client;console;terminal;
Exec=/home/luca-linux/bin/communication weechat %u
Terminal=false
Icon=weechat
Type=Application
Categories=Network;Chat;IRCClient;ConsoleOnly;
MimeType=x-scheme-handler/irc;x-scheme-handler/ircs;
