[Unit]
Description=Syncthing - Open Source Continuous File Synchronization
Documentation=man:syncthing(1)
After=network.target

[Service]
ExecStart=/usr/bin/syncthing -no-browser -no-restart -logflags=0
ExecStop=/bin/killall -9 syncthing
Restart=always

[Install]
WantedBy=default.target
